<div id="content">
  <h2>Other Sites</h2>
  <p class="gothic">私の別のサイトです。</p>
  <div class="flex">
    <div class="box">
      <a href="https://twitter.com/sudosan" target="_blank">
        <img src="./assets/twitter.png">
        <h3>Twitter</h3>
        <p>連絡はこちらにお願いします</p>
      </a>
    </div>
    <div class="box">
      <a href="https://honeycome.net/" target="_blank">
        <img src="./assets/blog.png">
        <h3>ひかりマテリアル</h3>
        <p>ブログです</p>
      </a>
    </div>
    <div class="box">
      <a href="https://it14b85.com" target="_blank">
        <img src="./assets/it14b85.png">
        <h3>伊吹翼14歳でB85.com</h3>
        <p>伊吹翼14歳でB85!?!?</p>
      </a>
    </div>
    <div class="box">
      <a href="https://sudosan.github.io/imas_cg_shikoChecklist/" target="_blank">
        <img src="./assets/cg_shiko.png">
        <h3>アイマスキャラシコチェックリスト</h3>
        <p>業が深いとよく言われます</p>
      </a>
    </div>
  </div>
</div>