<div id="content">
  <h2>About</h2>
  <div class="gothic">
    <h3>はじめに</h3>
    <p>このサイトが重いのは仕様です。</p>
    <h3>UO機能</h3>
    <p>響子ちゃんを3D touchしたり、長押ししたり、端末を勢いよく振ったりするとUOを折ることができます。あなたがUOを折った高まりはこのサイトを閲覧中の人達にリアルタイムで伝わります。そして、誰かがUOを折った時にはあなたの夜空に黄昏色に輝く星が降ることでしょう。</p>
    <h3>なんで作ったの</h3>
    <p>メットライフドームで高まったノリで作りました。名古屋に間に合わせようとデスマしたので2週間で作りました。</p>
    <h3>お知らせ</h3>
    <p>このサイトの制作過程を寄稿した本が以下の通り頒布されます。詳しい情報に関しては随時追記していきます。</p>
    <p><a href="https://twitter.com/lc_tut" target="_blank">コミックマーケット95 月曜日 東地区“Ｕ”ブロック－14a LinuxClub</a></p>
  </div>
</div>