<!--The content below is only a placeholder and can be replaced.-->
<div id="title">
  <a routerLink="/"><img alt="Logo" src="../assets/kyoko-land-logo@3x.png"></a>
</div>
<div>
  <div id="blur">
    <div id="nightsky"><div class="xmas"></div></div>
    <div id="twinkle">
      <div id="anime-0"></div>
      <div id="anime-1"></div>
      <div id="anime-2"></div>
      <div id="anime-3"></div>
      <div id="anime-4"></div>
      <div id="anime-5"></div>
      <div id="anime-6"></div>
      <div id="anime-7"></div>
      <div id="anime-8"></div>
      <div id="anime-9"></div>
      <div id="anime-10"></div>
      <div id="anime-11"></div>
      <div id="anime-12"></div>
      <div id="anime-13"></div>
      <div id="anime-14"></div>
      <div id="anime-15"></div>
      <div id="anime-16"></div>
      <div id="anime-17"></div>
      <div id="anime-18"></div>
      <div id="anime-19"></div>
    </div>
    <div id="reflect_wrap">
      <div id="star_wrap"></div>
    </div>
    <div id="ground"></div>
  </div>
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<div id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a routerLink="/introduction">Introduction</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/other">Other Sites</a></li>
    <li><a routerLink="/starlight">Starlight View</a></li>
    <li><a routerLink="/credit">Credit</a></li>
    <li><a href="https://twitter.com/intent/tweet?text=Starry-Kyoko-Land&url=https%3A%2F%2Fstarry-go-round.com" target="_blank">Tweet</a></li>
  </ul>
  <div id="counter">
    <h2>高まりカウント</h2>
    <h3 id="num">000000000000</h3>
  </div>
</div>
<div id="nav">
  <a class="menu-trigger" id="navButton">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>
<div id="bgm_button">♫</div>
<audio id="bgm" src="./assets/loop.mp3" loop></audio>