<div id="content">
  <h2>Credit</h2>
  <div class="gothic">
    <div class="table">
      <div class="table-box box1">
        <h3>3D model of merry-go-round</h3>
        <p><a href="https://archive3d.net/?a=download&id=7dd77193" target="_blank">archive 3D</a></p>
        <h3>illustration by</h3>
        <p><a href="https://twitter.com/yura_chino" target="_blank">悠月ゆら</a></p>
        <h3>BGM</h3>
        <p><a href="https://soundcloud.com/sudosan/e4ixd9d1zapf" target="_blank">清きシコの夜</a></p>
        <h3>inspired from</h3>
        <p><a href="http://columbia.jp/sl-stage/haishin/COKM-42223.html" target="_blank">Starry-Go-Round</a></p>
        <h3>Respect</h3>
        <p><a href="https://www.slideshare.net/GoogleCloudPlatformJP/gaego-80349110" target="_blank">ミリシタを支える GAE/Go</a></p>
      </div>
      <div class="table-box box2">
        <h3>利用技術</h3>
        <div class="table-image">
          <a href="https://angular.jp/" target="_blank"><img src="./assets/logos/angular.svg"></a>
          <a href="https://www.w3.org/html/" target="_blank"><img src="./assets/logos/html5.svg"></a>
          <a href="https://threejs.org/" target="_blank"><img src="./assets/logos/webgl.svg"></a>
          <a href="https://socket.io/" target="_blank"><img src="./assets/logos/socketio.svg"></a>
          <a href="https://nodejs.org/ja/" target="_blank"><img src="./assets/logos/nodejs.svg"></a>
          <a href="https://nginx.org/" target="_blank"><img src="./assets/logos/nginx.svg"></a>
          <a href="http://pm2.keymetrics.io/" target="_blank"><img src="./assets/logos/pm2.svg"></a>
          <a href="https://cloud.google.com/" target="_blank"><img src="./assets/logos/Google Cloud Platform.svg"></a>
          <a href="https://cloud.google.com/compute/" target="_blank"><img src="./assets/logos/Compute Engine.svg"></a>
          <a href="https://cloud.google.com/appengine/" target="_blank"><img src="./assets/logos/App Engine.svg"></a>
          <a href="https://cloud.google.com/datastore/" target="_blank"><img src="./assets/logos/Cloud Datastore.svg"></a>
        </div>
        <div class="table-text">
            <p><a href="https://angular.jp/" target="_blank">Angular7</a></p>
            <p><a href="https://threejs.org/" target="_blank">three.js</a></p>
            <p><a href="https://socket.io/" target="_blank">socket.io</a></p>
            <p><a href="https://pressurejs.com/" target="_blank">Pressure.js</a></p>
            <p><a href="https://nodejs.org/ja/" target="_blank">Node.js</a></p>
            <p><a href="https://nginx.org/" target="_blank">nginx</a></p>
            <p><a href="http://pm2.keymetrics.io/" target="_blank">pm2</a></p>
            <p><a href="https://cloud.google.com/compute/" target="_blank">Compute Engine</a></p>
            <p><a href="https://cloud.google.com/appengine/" target="_blank">App Engine</a></p>
            <p><a href="https://cloud.google.com/datastore/" target="_blank">Cloud Datastore</a></p>
        </div>
      </div>
    </div>
  </div>
</div>